$special-gray: #444444;
$black: #000000;
$dark-blue: #161c36;
$darker-blue: #161c35;
$darker-blue100: #121936;
$derker-blue200: #1d2e5b;
$blue: #192144;
$blue-200: #132576;
$basic-yellow: #ffd74b;
$basic-yellow-100: #ffd74b;
$basic-orange: #ff8d30;
$gray: #edeff6;
$gray-100: #e1e3e9;
$white: #ffffff;
$red-offline: #f97676;
$green-online: #81e31e;
$tablet: 768px;
$desktop: 1440px;
$mobile: 767px;
