$special-gray: #444444;
$dark-blue: #161c36;
$darker-blue: #161c35;
$darker-blue100: #121936;
$blue: #192144;
$basic-yellow: #ffd74b;
$basic-yellow-100: #ffd74b;
$white: #ffffff;
$tablet: 768px;
$desktop: 1440px;
$mobile: 767px;
