.adress {
  position: relative;
  z-index: 50;
}

.adress__content {
  background-color: $basic-yellow;
  margin-top: -30px;
  padding-top: 70px;
  padding-bottom: 35px;
  position: relative;
  z-index: 50;

  @include border-radius(0,0,25px,25px);
}

.adress__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $derker-blue200;
  position: relative;
  padding-left: 60px;
  margin-bottom: 32px;

  &::before {
    @include pseudo(45px, 45px);
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("..//img/map-mark.svg");
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.adress__map {
  margin-top: -30px;
  width: 100%;
  height: 424px;
  background-color: $gray-100;
  position: relative;
  background-image: url("..//img/map-mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.adress__map iframe {
  width: 100%;
  border: none;
  height: 100%;
}
