.promo {
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #161c36;
}

.promo__slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: $white;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 265px;
}

.promo__review {
  color: $white;
  margin: 0;
  padding: 28px 25px 0 25px;
  margin-bottom: 29px;
}

.promo__review-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 18px;
}

.promo__review-autor {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
}
