.social-buttons {
  @include reset-list;
  align-items: center;
  justify-content: center;

  &--yellow {
    .social-buttons__item {
      background-color: $basic-yellow;
    }
  }

  &--round {
    .social-buttons__item {
      border-radius: 50%;
    }
  }
}

.social-buttons__item {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-buttons__link {
  color: inherit;
}
