.travelers {
  background-color: $blue;
  padding-bottom: 31px;
  z-index: 80;
  position: relative;

  @include border-radius(0,0,25px,25px);

  &--up {
    margin-top: -30px;
    padding-top: 100px;
  }
}

.travelers__card {
  &:not(:last-of-type) {
    margin-bottom: 9px;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }
}

.travelers__inner {
  padding: 0 62px 0 25px;
}

.travelers__title {
  margin: 0;
  margin-bottom: 19px;
}

.travelers__description {
  margin: 0;
  margin-bottom: 19px;
  color: $white;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.travelers__tagline {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: $white;
  margin: 0;
  margin-bottom: 54px;
}
